header {
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-image: url('../background.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(0, 43, 118);
    z-index: 1;
    background-image: url('../background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    z-index: 2;
    position: relative;
    text-decoration-color: white;
}


.main-layout {
    flex: 1;
    display: flex;
}


footer {
    padding: 1rem 5%;
    text-align: center;
    margin-top: auto;
}

.footer-text {
    font-size: 1rem;
    color: rgb(0, 0, 0);
}

.page-content {
    padding: 2rem 5%;
    flex: 1;
    overflow-y: auto;
}

.section-title {
    color: rgb(4, 47, 122);
    margin-bottom: 2rem;
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 42, 114);
}

.btn-primary {
    background-color: rgb(214, 5, 5);
    color: rgb(255, 255, 255);
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-primary:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .main-layout {
        flex-direction: column;
    }

    body {
        margin: 0;
        border: none;
        border-radius: 0;
        height: auto;
        
    
    }
}

.no-decoration {
    text-decoration: none;
}

.wrapper{
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #0ef;
    overflow: hidden;
    box-shadow: 0 0 25px #0ef;
}


.hero-section {
    background-image: url('../backgroud.jpg');
    background-repeat: no-repeat;
    background-size: 100%; 
    height: 400px; 
}



.content-box {
    
    background-image: url('background.jpg') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;

}

body  {
    background-color: antiquewhite !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}










